:root {
  font-family: "Sour Gummy", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #a3ef71;
  --secondary-color: #eb71f0;
}


body {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  min-width: 320px;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
  min-height: 100%;
  position: relative; /* Afegim position relative */
  height: auto;  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

label {
  margin: 1rem;
}

button {
  display: flex;
  /* background-color: var(--primary-color); */
  color: var(--secondary-color);
  font-family: "Sour Gummy", sans-serif;
  font-size: 30px;
  border-radius: 8px;
  border: 1px solid transparent;
  /* border-style: outset; */
  padding: 0.6em 1.2em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
